{% extends "login.html" %}
{% block start %}
<div class="container">
    <form class="form" method="post" id="form" action="{% url 'change_password' token=token %}">
        {% csrf_token %}
        <h4>Forget Password</h4>

        {% if error_message %}
        <p class="error-message">{{ error_message }}</p>
        {% endif %}

        <div class="form-group">
            <label for="password">Username</label>
            <input type="text" name="username" class="form-control">
        </div>

        <button class="btn" type="submit">Submit</button>
    </form>
</div>
{% endblock %}